doctype html
html
  head
    link(href="https://npmcdn.com/web-presentation/dist/web-presentation.html", rel="import")
    link(href="https://npmcdn.com/PrismComponents/dist/prism-components.html", rel="import")
    link(href="https://npmcdn.com/html-mocks/html-mocks.html", rel="import")
    link(href="./slides/coding/fake-editor.html", rel="import")
    link(href="https://npmcdn.com/web-presentation/dist/transitions.css", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="styles.css", rel="stylesheet")
  body
    script(src="./slides/coding/cm-history.js")
    include presentation.jade
    script(src="//localhost:9091") // livereload
