doctype html
html
  head
    link(href="https://cdn.rawgit.com/ChristianKohler/web-presentation/v1.0.3/dist/web-presentation.html", rel="import")
    link(href="https://cdn.rawgit.com/ChristianKohler/PrismComponents/v0.1.0/dist/prism-components.html", rel="import")
    link(href="https://cdn.rawgit.com/ChristianKohler/html-mocks/master/html-mocks.html", rel="import")
    link(href="https://cdn.rawgit.com/ChristianKohler/web-presentation/v1.0.2/dist/transitions.css", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    link(href="styles.css", rel="stylesheet")
    
    // Clippy init
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(src="//cdn.jsdelivr.net/clippy.js/1.0/clippy.min.js")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/clippy.js/1.0/clippy.min.css")
  body
    include presentation.jade
    script(src="clippy.js")
    script(src="//localhost:9091") // livereload