web-slide(class="fullscreen-image about align-left" style={"background-image": "url('images/stefan.jpg')", "color": "#3C3C3C" }, data-transition="moveToLeft")
	h1 Stefan Jäger
	div
		i Berne
		br
		i.fa.fa-twitter
		| steivan
		br
		i.fa.fa-github
		| stefanjaeger
	
web-slide(class="fullscreen-image about align-left" style={"background-image": "url('images/chris.jpg')", "color": "#3C3C3C" }, data-transition="moveToLeft")
	h1 Christian Kohler
	div
		i Zurich
		br
		i.fa.fa-twitter
		| KohlerChristian
		br
		i.fa.fa-github
		| christiankohler
		
web-slide(class="fullscreen-image about align-left" style={"background-image": "url('images/kevin.jpg')", "color": "white" }, data-transition="moveToLeft")
	h1 Kevin Denver
	div
		i London
		br
		i.fa.fa-twitter
		| ToastShaman
		br
		i.fa.fa-github
		| ToastShaman