web-slide.aurelia.align-middle(data-transition="moveToLeft")
    div.flex
        div.flex-item.aurelia-flex-green(data-enter='1')  Good
        div.flex-item.aurelia-flex-green(data-enter='1')  Bad
        div.flex-item.aurelia-flex-pink(data-enter='2') Frameworks
    div.flex
        div.flex-item.aurelia-flex-green Good
        div.flex-item.aurelia-flex-green Bad
        div.flex-item.aurelia-flex-green Ugly Parts
        
web-slide.aurelia(data-transition="moveToLeft")
    img(src="images/aurelia-logo.png")
        
        
web-slide.aurelia.align-left(data-transition="moveToLeft")
    h1 Aurelia
    h2 &#9679; ES6, ES7
    h2 &#9679; Web Components
    h2 &#9679; No external dependencies (except polyfills)
    h2 &#9679; Simple conventions
    
web-slide.aurelia.align-middle(data-transition="moveToLeft")
    div.flex
        div.flex-item.aurelia-flex-pink(data-enter='1') jspm.io
        div.flex-item.aurelia-flex-pink(data-enter='2') bootstrapper
        div.flex-item.aurelia-flex-pink(data-enter='3') aurelia-router
        div.flex-item(data-enter='4') &lt;template&gt;
    div.flex
        div.flex-item.aurelia-flex-green Vanilla SPA
    
web-slide.aurelia(data-transition="moveToLeft")
    h1 &lt;template&gt;
    p HTMLTemplateElement
    img(src="images/template-specification.png")
    img(data-enter='1', src="images/template-browser.png")
    
web-slide.aurelia.align-middle(data-transition="moveToLeft")
    div.flex
        div.flex-item(data-enter='1') &lt;template&gt;
        div.flex-item.aurelia-flex-pink(data-enter='2') @inject
    div.flex
        div.flex-item.aurelia-flex-green Search
    
web-slide.aurelia.align-middle(data-transition="moveToLeft")
    div.flex
        div.flex-item(data-enter='1') &lt;template&gt;
        div.flex-item.aurelia-flex-pink(data-enter='2') @inject
        div.flex-item.aurelia-flex-pink(data-enter='3') movie-tile
    div.flex
        div.flex-item.aurelia-flex-green Movie
        
web-slide.aurelia.align-left(data-transition="moveToLeft")
    h1 Delta Vanilla SPA - Aurelia
    h2 &#9679; Dependency Injection with @inject
    h2 &#9679; Two Way Databinding with @bindable
    h2 &#9679; Aurelia Bootstrapper and Aurelia Router