web-slide
    img(src="images/yetanotherjsframework.png" class="tweet")
    
web-slide
    h2 Vanilla SPA
    h2 The good, the bad and the ugly
    h2 Aurelia

web-slide
    h1 Example Application
    p Find a movie based on your travel time
    mockup-browser
        div(style="position: relative; height: 250px; overflow-y: hidden;")
            img(src="images/popcorn-search.png")
            img(src="images/popcorn-result.png" data-enter="1" style="position: absolute; top: 0; left: 0;")
        