web-slide(class="align-left")
	h1 Lessons Learned
	p
		ul
			li(style="margin-bottom:10px" data-enter="1").
				If you don't need to support older browsers you can build a single 
				page application almost without any additional libraries.
			
			li(style="margin-bottom:10px" data-enter="2").
				Frameworks make it easier for you to write tests!	
				
			li(style="margin-bottom:10px" data-enter="3").
				Adopt ECMAScript 6 either natively or use transpilers such as Babel.
			
			li(style="margin-bottom:10px" data-enter="4").
				Building applications with next gen framework requires less framework specific code.

web-slide
	h1 &laquo;Yet Another JS Framework &raquo;
	h2(data-enter="1") isn't so bad after all!