web-slide-title#title-slide(data-transition="moveToLeft").title-slide
  img(src="images/milk-lasts-longer.png" class="tweet")

web-slide
  h2 do you know this problem?
  h2 raining framework icons
  img(src="./images/frameworks/backbonejs.png" style="height: 30px;")
  img(src="./images/frameworks/jquery.gif" style="height: 30px;")
  img(src="./images/frameworks/emberjs.png" style="height: 30px;")
  img(src="./images/frameworks/knockoutjs.jpg" style="height: 30px;")
  img(src="./images/frameworks/vuejs.png" style="height: 30px;")
  img(src="./images/frameworks/angular.png" style="height: 30px;")
  img(src="./images/frameworks/meteor.png" style="height: 30px;")
  img(src="./images/frameworks/react.png" style="height: 30px;")
  img(src="./images/frameworks/durandal.jpg" style="height: 30px;")
  img(src="./images/frameworks/polymer.png" style="height: 30px;")
  img(src="./images/frameworks/aurelia.png" style="height: 30px;")



web-slide(class="fullscreen-image about align-left" style={"background-image": "url('images/stefan2.jpg')", "color": "#3C3C3C" }, data-transition="fadeIn")
  h1 Stefan Jäger
  div
    i Berne &#47;
    i.fa.fa-twitter
    | steivan &#47;
    i.fa.fa-github
    | stefanjaeger

web-slide(class="fullscreen-image about align-left" style={"background-image": "url('images/chris2.jpg')", "color": "#3C3C3C" }, data-transition="fadeIn")
  h1 Christian Kohler
  div
    i Zurich &#47;
    i.fa.fa-twitter
    | KohlerChristian &#47;
    i.fa.fa-github
    | christiankohler

web-slide(class="fullscreen-image about align-left" style={"background-image": "url('images/zuehlke-bg.jpg')", "color": "#3C3C3C" }, data-transition="moveFromBottom")
    img(src="images/logo.jpg" style="width: 150px; height: 150px; margin-top: 20px;")
  
web-slide
  //Question to audience: Who came by train?
  h1 
    span(data-enter="1") We came here by&nbsp;
    span train&nbsp;
    span(data-enter="1") watching a movie..
  h2(data-enter="2") ..and the train arrived just 10mins before we finished the movie
  h1(data-enter="3") :-(
  
web-slide
  h1 So we came up with an idea
  mockup-browser(addressBar="http://movie-finder/final")
    div(style="position: relative; height: 100%; overflow-y: hidden;")
      iframe(src="http://localhost:8082/#/search/")

web-slide
  h1 We're tired of new frameworks everyday!
  h1(data-enter="1") Follow our journey writing our own pure JavaScript app!
