web-slide-title#title-slide(data-transition="moveToLeft").title-slide
  div
    img(src="images/milk-lasts-longer.png" class="tweet")

web-slide
  h1 JavaScript Fatique

web-slide(class="fullscreen-image multiply" style="background-image : url('images/window.png'), url('images/bern.jpg'); box-sizing: border-box; border: 30px solid black;")
  .raining-icons
    img(src="./images/frameworks/backbonejs.png")
    img(src="./images/frameworks/jquery.gif")
    img(src="./images/frameworks/emberjs.png")
    img(src="./images/frameworks/angular2.svg")
    img(src="./images/frameworks/knockoutjs.jpg")
    img(src="./images/frameworks/vuejs.png")
    img(src="./images/frameworks/angular.png")
    img(src="./images/frameworks/jspm.png")
    img(src="./images/frameworks/meteor-simple.svg")
    img(src="./images/frameworks/react-simple.png")
    img(src="./images/frameworks/durandal.jpg")
    img(src="./images/frameworks/polymer.png")
    img(src="./images/frameworks/aurelia-simple.png")
    img(src="./images/frameworks/riot.png")
    img(src="./images/frameworks/rxjs.png")
    img(src="./images/frameworks/babel.png")
    img(src="./images/frameworks/elm.png")
    img(src="./images/frameworks/es6.png")
    img(src="./images/frameworks/ts.png")
    img(src="./images/frameworks/webpack.png")



web-slide(class="fullscreen-image about align-left" style={"background-image": "url('images/stefan2.jpg')", "color": "#3C3C3C" }, data-transition="fadeIn")
  h1 Stefan Jäger
  div
    i Berne &#47;
    i.fa.fa-twitter
    | steivan &#47;
    i.fa.fa-github
    | stefanjaeger

web-slide(class="fullscreen-image about align-left" style={"background-image": "url('images/chris2.jpg')", "color": "#3C3C3C" }, data-transition="fadeIn")
  h1 Christian Kohler
  div
    i Zurich &#47;
    i.fa.fa-twitter
    | KohlerChristian &#47;
    i.fa.fa-github
    | christiankohler

web-slide(class="fullscreen-image about align-left" style={"background-image": "url('images/zuehlke-bg.jpg')", "color": "#3C3C3C" }, data-transition="moveFromBottom")
    img(src="images/logo.jpg" style="width: 150px; height: 150px; margin-top: 20px;")
  
web-slide
  //Question to audience: Who came by train?
  h1 
    span(data-enter="1") We came here by&nbsp;
    span train&nbsp;
    span(data-enter="1") watching a movie..
  h2(data-enter="2") ..and the train arrived just 10mins before we finished the movie
  h1(data-enter="3") :-(
  
web-slide
  h1 So we came up with an idea
  mockup-browser(addressBar="http://movie-finder/final")
    div(style="position: relative; height: 100%; overflow-y: hidden;")
      iframe(src="http://localhost:8082/#/search/")

web-slide
  h1 We're tired of new frameworks everyday!
  h1(data-enter="1") Follow our journey writing our own pure JavaScript app!
