// custom elements
include ./custom-elements/what
include ./custom-elements/lesson
include ./common/coding-time
include ./coding/movie-tile
include ./demos/demo1

// modules
include ./modules/movie-list
include ./common/coding-time
include ./coding/movies-without-modules
include ./modules/how
include ./modules/lesson
include ./common/coding-time
include ./coding/movies-with-modules
include ./demos/demo2

// fetch
include ./fetch/what
include ./fetch/lesson
include ./common/coding-time
include ./coding/movies-api
include ./demos/demo3
include ./demos/demo4
include ./fetch/search-view
include ./common/coding-time
include ./coding/search
include ./coding/google-api

// custom elements - app is component
include ./custom-elements/app-is-component
include ./common/coding-time
include ./coding/app

// router
include ./router/what
include ./common/coding-time
include ./coding/router
include ./demos/demo5