web-slide-title.fullscreen-image(style="background-image: url('images/goodbadugly.gif')")
	h1
		span(data-enter="1") The good
		span(data-enter="2") , the bad
		span(data-enter="3")  and the ugly

web-slide
	h1 The good - No dependencies
	h2 No breaking changes <br> No waiting time for bug fixes <br> No aging libraries
	img(src="images/dependency.jpg")
	h1(data-enter="1" class="diagonal") remember left-pad?

web-slide
	h1 The good - No need to learn a framework
	img(src="images/feelings_about_angularjs_over_time.png" style="width: 45%;")

web-slide
	h1 The bad - Difficult to test
	h2 No dependency injector, just ES6 Modules
	pre(is="lang-javascript").
		import myservice from './services/myservice'

web-slide
	h1 The bad - Browser support
	h2 Custom Elements (2016: 48%)
	img(src="images/support-customelements-2016.png" style="width: 100%")

web-slide
	h1 The bad - Browser support
	h2 Custom Elements (2017: 67%)
	img(src="images/support-customelements-2017.png" style="width: 100%")

web-slide
	h1 And the ugly <br>You end up writing your own framework
	h2 The router for example
	div
		img(src="images/ugly.jpg" style="width: 60%")

web-slide
	h1 Lessons learned
