web-slide
	h1(style="margin-bottom: 1.3em;") Start learning standards today!
	div(class="flex")
		div(class="flex-item")
			img(src="images/stefan-small.jpg" class="about-us")
			h2 Stefan Jäger
			span(style="font-size:1.4em;")
				i.fa.fa-twitter
				| steivan
		div(class="flex-item")
			img(src="images/chris-small.jpg" class="about-us")
			h2 Christian Kohler
			span(style="font-size:1.4em;")
				i.fa.fa-twitter
				| KohlerChristian
