web-slide(class="fullscreen-image multiply" style="background-image : url('images/window.png'), url('images/bern.jpg'); box-sizing: border-box; border: 30px solid black;")
  .raining-icons
    img(src="./images/frameworks/backbonejs.png")
    img(src="./images/frameworks/jquery.gif")
    img(src="./images/frameworks/emberjs.png")
    img(src="./images/frameworks/angular2.svg")
    img(src="./images/frameworks/knockoutjs.jpg")
    img(src="./images/frameworks/vuejs.png")
    img(src="./images/frameworks/angular.png")
    img(src="./images/frameworks/jspm.png")
    img(src="./images/frameworks/meteor-simple.svg")
    img(src="./images/frameworks/react-simple.png")
    img(src="./images/frameworks/durandal.jpg")
    img(src="./images/frameworks/polymer.png")
    img(src="./images/frameworks/aurelia-simple.png")
    img(src="./images/frameworks/riot.png")
    img(src="./images/frameworks/rxjs.png")
    img(src="./images/frameworks/babel.png")
    img(src="./images/frameworks/elm.png")
    img(src="./images/frameworks/es6.png")
    img(src="./images/frameworks/ts.png")
    img(src="./images/frameworks/webpack.png")
