web-slide
	h1(style="margin-top: 3em;margin-bottom: 3em;") Start learning standards today!
	div(class="flex" style="margin-bottom: 3em;")
		div(class="flex-item")
			img(src="images/stefan-small.jpg" class="about-us")
			p Stefan Jäger
			i.fa.fa-twitter
			| steivan
		div(class="flex-item")
			img(src="images/chris-small.jpg" class="about-us")
			p Christian Kohler
			i.fa.fa-twitter
			| KohlerChristian
