web-slide.align-left
	h1 Router
	h2 Aurelia
	pre(is="lang-javascript").
		config.map([
			{ route: 'search', name: 'search', moduleId: './search', nav: true, title:'Search View' },
			{ route: 'movies', name: 'movies', moduleId: './movies', nav: true, title:'Movies View' }
		]);
	h2 Angular 2
	pre(is="lang-javascript").
		@RouteConfig([
			{ path: '/search', name: 'Search', component: SearchViewComponent},
			{ path: '/movies', name: 'Movies', component: MoviesViewComponent}
		])
	h2 React
	pre(is="lang-javascript").
		<Route path="/search" component={Search}>
		<Route path="/movies" component={Movies}>
web-slide
	h1 #1 learn concepts not frameworks
