web-slide.align-left(data-transition="fall")
	h1 ES6 Modules

	div.code-with-label
		h2 Movie App
		pre(is="lang-javascript").
			import MoviesView from './movies/movies';

	div.code-with-label
		h2 Aurelia
		pre(is="lang-javascript").
			import {inject} from 'aurelia-framework';

	div.code-with-label
		h2 Angular 2
		pre(is="lang-javascript").
			import {Component} from 'angular2/core';

	div.code-with-label
		h2 React
		pre(is="lang-javascript").
			import React from 'react';

web-slide.lesson-learned
	h1 #4
	h2(data-enter="1") learn a standard once, <br> use it everywhere
