web-slide.align-left
	h1 ES6 Modules
	
	div(style="display: flex; align-items: center;")
		h2(style="width: 140px;") Movie App
		pre(style="flex-grow: 1" is="lang-javascript").
			import MoviesView from './movies/movies';
	
	div(style="display: flex; align-items: center;")
		h2(style="width: 140px;") Aurelia
		pre(style="flex-grow: 1" is="lang-javascript").
			import {inject} from 'aurelia-framework';
			
	div(style="display: flex; align-items: center;")
		h2(style="width: 140px;") Angular 2
		pre(style="flex-grow: 1" is="lang-javascript").
			import {Component} from 'angular2/core';
			
	div(style="display: flex; align-items: center;")
		h2(style="width: 140px;") React
		pre(style="flex-grow: 1" is="lang-javascript").
			import React from 'react';

web-slide.lesson-learned
	h1 #4
	h2 learn a standard once, <br> use it everywhere