web-slide.align-left
	h1 Router
	div.code-with-label
		h2 Movie App
		pre(is="lang-javascript").
			config.map([
				{ route: "search", component: SearchView },
				{ route: "movies", component: MoviesView }
			]);
	div.code-with-label
		h2 Aurelia
		pre(is="lang-javascript").
			config.map([
				{ route: 'search', name: 'search', moduleId: './search' },
				{ route: 'movies', name: 'movies', moduleId: './movies' }
			]);
	div.code-with-label
		h2 Angular 2
		pre(is="lang-javascript").
			@RouteConfig([
				{ path: '/search', name: 'Search', component: SearchViewComponent},
				{ path: '/movies', name: 'Movies', component: MoviesViewComponent}
			])
	div.code-with-label
		h2 React
		pre(is="lang-markup").
			&lt;Route path=&quot;/search&quot; component={Search}&gt;
			&lt;Route path=&quot;/movies&quot; component={Movies}&gt;

web-slide.lesson-learned
	h1 #1
	h2(data-enter="1") learn concepts - not frameworks
