web-slide.align-left
	h1 Universal Modules
	div.code-with-label
		h2 MovieApi
		pre(is="lang-javascript").
			import MovieApi from '../core/movie-api';
			MovieApi.searchByDuration(duration).then(data => {
				// ...
			});
	div.code-with-label
		h2 GoogleApi
		pre(is="lang-javascript").
			import GoogleApi from '../core/google-api';
			GoogleApi.search(from, to).then(duration => {
				//...
			});

web-slide.lesson-learned
	h1 #2
	h2 use standards as much as possible
