web-slide.genius
    h1 Fetch API

web-slide.genius
    h1 Disclaimer
    img(src="images/fetch.png")
    p This is an experimental technology :-)

web-slide(class="align-left genius")
    h1 Fetch API
    h2.
        It is a living standard! <br />
        &rarr; http://fetch.spec.whatwg.org
    h2.
        There is a polyfill! <br />
        &rarr; https://github.com/github/fetch

web-slide(class="fullscreen-image" style={"background-image": "url('images/old-car.jpg')" }, data-transition="moveToLeft")
    pre(data-enter="1" is="lang-javascript").
        function reqListener() {
            var data = JSON.parse(this.responseText);
            console.log(data);
        }

        function reqError(err) {
            console.log('Fetch Error :-S', err);
        }

        var oReq = new XMLHttpRequest();
        oReq.onload = reqListener;
        oReq.onerror = reqError;
        oReq.open('get', './api/some.json', true);
        oReq.send();

web-slide(class="fullscreen-image" style={"background-image": "url('images/new-car.jpg')" })
    pre(data-enter="1" is="lang-javascript").
        fetch('./api/some.json')
          .then(result => result.json())
          .then(data => console.log(data))
          .catch(err => console.log('Fetch Error :-S', err));