web-slide.genius
    h1 Fetch API

web-slide(class="genius")
    h1 It is a living standard
    h2 http://fetch.spec.whatwg.org

web-slide(class="genius")
    h1 There is a polyfill
    h2 https://github.com/github/fetch
    img(src="images/fetch.png")

web-slide(class="fullscreen-image" style={"background-image": "url('images/old-car.jpg')" })
    pre(data-enter="1" is="lang-javascript").
        function reqListener() {
            var data = JSON.parse(this.responseText);
            console.log(data);
        }

        function reqError(err) {
            console.log('Fetch Error :-S', err);
        }

        var oReq = new XMLHttpRequest();
        oReq.onload = reqListener;
        oReq.onerror = reqError;
        oReq.open('get', './api/some.json', true);
        oReq.send();

web-slide(class="fullscreen-image" style={"background-image": "url('images/new-car.jpg')" })
    pre(data-enter="1" is="lang-javascript").
        fetch('./api/some.json')
          .then(result => result.json())
          .then(data => console.log(data))
          .catch(err => console.log('Fetch Error :-S', err));
