web-slide
	h1 Router
	h2 Can we use ng-route?

web-slide.genius
	h1 Introducing the Routing standard

web-slide-title.fullscreen-image(style="background-image: url('images/got.gif')")
	h1
		span(data-enter="1") There is no standard yet

web-slide
	h1 How does a router work?
	mockup-browser
		div.routerworks-container
			header 
				p Router View
			main

web-slide
	h1 How does a router work?
	mockup-browser(addressBar="/#/search")
		div.routerworks-container
			header 
				p Router View &nbsp;
				p #SearchView
			main 
				section
					div(style="width: 100%")
					form
						input(placeholder="from")
						input(placeholder="to")
						button Movietime
					
web-slide
	h1 How does a router work?
	mockup-browser(addressBar="/#/movies")
		div.routerworks-container
			header 
				p Router View &nbsp;
				p #MoviesView
			main 
				section.moviesview
					section Movie1
					section Movie2
					section Movie3
					section Movie4
					section Movie5
					section Movie6