web-slide
	h1 Router
	p can we use ng-route?

web-slide.genius
	h1 introducing the Routing standard

web-slide-title.fullscreen-image(style="background-image: url('images/got.gif')")
	h1
		span(data-enter="1") there is no standard yet
