// http://www.sitepoint.com/understanding-es6-modules/
// http://www.2ality.com/2013/07/es6-modules.html
web-slide.genius
	h1 ECMAScript 6 Modules

web-slide(class="align-left genius")
	img(src="./images/electrical-plugs.jpg" style="height: 90%;width: 90%")

web-slide(class="align-left genius")
	h1 Modules

	pre(is="lang-javascript").
		// calc.js
		const MY_CONSTANT = 7;
		export function multiply(a) {
			return a * MY_CONSTANT;
		}

	pre(is="lang-javascript").
		// app.js
		import { multiply } from 'calc';
		console.log(multiply(3));
