web-slide
	h1 Movie View
	pre(is="lang-markup").
		&lt;movie-view&gt;
			&lt;movie-tile&gt;&lt;/movie-tile&gt;
			&lt;movie-tile&gt;&lt;/movie-tile&gt;
			&lt;movie-tile&gt;&lt;/movie-tile&gt;
		&lt;/movie-view&gt;