web-slide(class="genius", data-transition="moveToLeft")
    h1 ES 6 Classes
    
web-slide(class="fullscreen-image" style={"background-image": "url('images/dog.jpg')" })
    pre(data-enter="1" is="lang-javascript").
        function Animal(name) {
          this.name = name;
        }
        
        Animal.prototype.sayName = function() {
            console.log('my name is: ' + this.name);
        };
        
        function SadDog(name, age) {
          Animal.call(this, name);
          this.age = age;
        }
        
        SadDog.prototype.myAge = function() {
            console.log('woof! ' + this.age);
        };
        
        SadDog.prototype = Object.create(Animal.prototype);
        SadDog.prototype.constructor = SadDog;
    pre(data-enter="2" is="lang-javascript").
        var tristan = new SadDog('Tristan', 2);
        tristan.sayName();  // 'my name is: Tristan' ?
        tristan.myAge();    // 'woof! 2' ?
    
web-slide(class="fullscreen-image" style={"background-image": "url('images/dog.jpg')" })
    pre(is="lang-javascript").
        function Animal(name) {
          this.name = name;
        }
        
        Animal.prototype.sayName = function() {
            console.log('my name is: ' + this.name);
        };
        
        function SadDog(name, age) {
          Animal.call(this, name);
          this.age = age;
        }
        
        SadDog.prototype.myAge = function() {
            console.log('woof! ' + this.age);
        };
        
        SadDog.prototype = Object.create(Animal.prototype);
        SadDog.prototype.constructor = SadDog;
    pre(is="lang-javascript").
        var tristan = new SadDog('Tristan', 2);
        tristan.sayName();  // 'my name is: Tristan'
        tristan.myAge();    // Uncaught TypeError: tristan.myAge is not a function(…)
        
web-slide(class="fullscreen-image" style={"background-image": "url('images/dog.jpg')" }, data-transition="moveToLeft")
    pre(is="lang-javascript").
        function Animal(name) {
          this.name = name;
        }
        
        Animal.prototype.sayName = function() {
            console.log('my name is: ' + this.name);
        };
        
        function SadDog(name, age) {
          Animal.call(this, name);
          this.age = age;
        }
        
        SadDog.prototype = Object.create(Animal.prototype);
        SadDog.prototype.constructor = SadDog;
        
        SadDog.prototype.myAge = function() {
            console.log('woof! ' + this.age);
        };
    pre(data-enter="1" is="lang-javascript").
        var tristan = new SadDog('Tristan', 2);
        tristan.sayName();  // 'my name is: Tristan'
        tristan.myAge();    // 'woof! 2'
        
web-slide(class="fullscreen-image" style={"background-image": "url('images/happy-dog.jpg')" }, data-transition="moveToLeft")
    pre(data-enter="1" is="lang-javascript").
        class Animal {
            constructor(name) {
                this.name = name;
            }
            sayName() {
                console.log('my name is: ' + this.name);
            }
        }
        
        class HappyDog extends Animal {
            constructor(name, age) {
                super(name);
                this.age = age;
            }
            myAge() {
                console.log('woof! ' + this.age);
            }
        }
    pre(data-enter="2" is="lang-javascript").
        var daisy = new HappyDog('Daisy', 5);
        daisy.sayName();  // my name is: Daisy
        daisy.myAge();    // woof! 5
    
web-slide(class="fullscreen-image" style={"background-image": "url('images/cat.jpg')" }, data-transition="moveToLeft")
    pre(data-enter="1" is="lang-javascript").
        class Animal {}

        class Cat extends Animal {          
          static saySomething() {
              console.log('miauw');
          }
        }
    pre(data-enter="1" is="lang-javascript").
        Cat.saySomething(); // miauw
    
web-slide(class="fullscreen-image" style={"background-image": "url('images/cat.jpg')" }, data-transition="moveToLeft")
    pre(is="lang-javascript").
        class Cat {   
          constructor() {
              this.cute = true;
          }
        }
    pre(data-enter="1" is="lang-javascript").
        // ES7 class properties
        class Cat {  
          cute = true; 
        }       
        
          