// https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/template_strings
web-slide.genius
	h1 Template Strings
	
web-slide(class="align-left genius")
	h1 Template Strings
	p.
		Template strings are string literals allowing embedded expressions. You can 
		use multi-line strings and string interpolation features with them.

	pre(is="lang-javascript").
		var a = 5, b = 10;
		console.log("Fifteen is " + (a + b) + " and\nnot " + (2 * a + b) + ".");
		// "Fifteen is 15 and
		// not 20."
		
	pre(is="lang-javascript").
		var a = 5, b = 10;
		console.log(`Fifteen is ${a + b} and\nnot ${2 * a + b}.`);
		// "Fifteen is 15 and
		// not 20."

web-slide(class="align-left genius")
	h1 <b>Tagged</b> Template Strings
	p.
		A more advanced form of template strings are tagged template strings. 
		With them you are able to modify the output of template strings using a 
		function.

	pre(is="lang-javascript").
		var a = 5, b = 10;
		function tag(strings, values) {
			console.log(strings[0]); // "Hello "
			console.log(strings[1]); // " world "
			console.log(values[0]);  // 15
			console.log(values[1]);  // 20
		}
		
		tag`Hello ${ a + b } world ${ a * b}`; // "Bazinga!"
