web-slide-title.fullscreen-image(style="background-image: url('images/goodbadugly.gif')")
	h1
		span(data-enter="1") The good
		span(data-enter="2") , the bad
		span(data-enter="3")  and the ugly
		
web-slide.align-left
	h1 The good ..
	h3 1. No dependencies
	p No breaking changes, no wait time for bug fixes, no aging libraries
	img(src="images/dependency.jpg")
	
web-slide.align-left
	h1 The good ..	
	h3 2. No need to learn a library or a framework
	p No learning curve, just pure javascript
	img(src="images/days-js.png" style="width: 80%")
		
web-slide.align-left
	h1 .. the bad ..
	h3 1. Difficult to test (No dependency injector, just ES6 Modules)
	pre(is="lang-javascript").
		import myservice from './services/myservice'
	h3 2. Browser support for custom elements is bad (48%)
	img(src="images/support-customelements.png" style="width: 100%")			

web-slide.align-left
	h1 .. and the ugly.
	h3 You would end up writing your own library / framework
	p The router for example
	img(src="images/ugly.jpg" style="width: 80%")
		
