web-slide
    h2 we're tired of new frameworks everyday
    h2 can we write a SPA with just web standards?
    h2 follow our journey!

web-slide
    h1 let's build an application
    mockup-browser
        div(style="position: relative; height: 250px; overflow-y: hidden;")
            iframe(src="http://localhost:8082/#/search/")
