web-slide
    h1 We don't want to use
    div(style="display:flex")
      div(style="flex:1; padding: 20px;")
        img(src="images/frameworks/angular.png" style="height: 100px;")
        h2 Angular Directives
      div(style="flex:1; padding: 20px;")
        img(src="images/frameworks/react-simple.png" style="height: 100px;")
        h2(style="white-space: nowrap;") React Components

web-slide(class="genius", data-transition="moveToLeft")
    h1 Custom Elements

web-slide(class="fullscreen-image-contained" style={"background-image": "url('images/road_bike.png')" })
    pre(data-enter="1" is="lang-markup").
        &lt;road-bike&gt;&lt;/road-bike&gt;

web-slide(class="fullscreen-image-contained" style={"background-image": "url('images/road_bike_parts.png')" }, data-transition="moveToLeft")
    pre(data-enter="1" is="lang-javascript").
      class RoadBike extends HTMLElement {
        createdCallback() {
            this.innerHTML = `
                &lt;div&gt;
                    &lt;div class="frame"&gt;
                        ...
                    &lt;/div&gt;
                    &lt;div class="chain"&gt;
                        ...
                    &lt;/div&gt;
                    &lt;div class="saddle"&gt;
                        ...
                    &lt;/div&gt;
                &lt;/div&gt;`;
        }
      }

      document.registerElement('road-bike', {
        prototype: RoadBike.prototype
      });
