web-slide
    h1 We don't want to use
    div(style="display:flex")
      div(style="flex:1; padding: 20px;")
        img(src="images/frameworks/angular.png" style="height: 100px;")
        h2 Angular Directives
      div(style="flex:1; padding: 20px;")
        img(src="images/frameworks/react.png" style="height: 100px;")
        h2 React Components

web-slide(class="genius", data-transition="moveToLeft")
    h1 Custom Elements

web-slide(class="fullscreen-image" style={"background-image": "url('images/beautiful-woman.jpg')" }, data-transition="moveToLeft")
    pre(data-enter="1" is="lang-markup").
        &lt;beautiful-woman&gt;&lt;/beautiful-woman&gt;

web-slide(class="fullscreen-image" style={"background-image": "url('images/beautiful-woman-complex.png')" }, data-transition="moveToLeft")
    pre(data-enter="1" is="lang-markup").
      class BeautifulWoman extends HTMLElement {
        createdCallback() {
            this.innerHTML = `
                &lt;div&gt;
                    &lt;div class="hair-mesh"&gt;
                        ...
                    &lt;/div&gt;
                    &lt;div class="eyes"&gt;
                        ...
                    &lt;/div&gt;
                    &lt;div class="lips"&gt;
                        ...
                    &lt;/div&gt;
                &lt;/div&gt;`;
        }
      }
      document.registerElement('beautiful-woman', {
        prototype: BeautifulWoman.prototype
      });
