web-slide
	h1 Let's start with a component
	img(src="images/matrix.png" style="width: 207px; box-shadow: 1px 1px 1px 1px #AAA")

web-slide
	h1 What do we want?
	pre(data-enter="1" is="lang-markup").
		&lt;movie-tile title="The Matrix" imageurl="img/matrix.png"&gt;&lt;/movie-tile&gt;

web-slide
	h1 We don't want to use
	h2 Angular Directive
	h2 React Components
