web-slide
	h1 Let's start with a component
	div(style="display:flex")
		div(style="flex:1")
			img(src="images/matrix.png" style="width: 207px; box-shadow: 1px 1px 1px 1px #AAA")
		div(style="flex:1")
			pre(data-enter="1" is="lang-markup" style="margin:0 20px").
				&lt;movie-tile
							title="The Matrix"
							image="matrix.png"
							rating="8.7"
							runtime="136 min"&gt;
				&lt;/movie-tile&gt;
