web-slide
	fake-editor(history="movieTileInitial" tabs="app.js" tab-active="0" stop="298")

web-slide
	fake-editor(history="htmlInitial" tabs="index.html,app.js" tab-active="0" mode="htmlmixed")

web-slide
	fake-editor(history="htmlMovieTileWithAttributes" tabs="index.html,app.js" tab-active="0" mode="htmlmixed" start="1")

web-slide
	fake-editor(history="movieTileInitial" tabs="index.html,app.js" tab-active="1" start="298")
