web-slide
    fake-editor(history="extractMovies" tabs="index.html,movie-tile.js" tab-active="1" start="1")

web-slide
    fake-editor(history="addMoviesToNewFile" tabs="index.html,movie-tile.js,movies.js" tab-active="2")
    
web-slide
    fake-editor(history="moviesWithoutModulesHTML" tabs="index.html,movie-tile.js,movies.js" tab-active="0" start="1" mode="htmlmixed")