web-slide
    fake-editor(history="routerInApp" tabs="index.html,app.js,movie-tile.js,movies.js,movies-api.js,google-api.js,search.js" tab-active="1" start="1")

web-slide
    fake-editor(history="routerView" tabs="index.html,app.js,movie-tile.js,movies.js,movies-api.js,google-api.js,search.js,router-view.js" tab-active="7")
   
web-slide
    fake-editor(history="routerConfig" tabs="index.html,app.js,movie-tile.js,movies.js,movies-api.js,google-api.js,search.js,router-view.js,router.js" tab-active="8")

web-slide
    fake-editor(history="routerAddNavigate" tabs="index.html,app.js,movie-tile.js,movies.js,movies-api.js,google-api.js,search.js,router-view.js,router.js" tab-active="8" start="1")
    
web-slide
    fake-editor(history="addNavigateToSearch" tabs="index.html,app.js,movie-tile.js,movies.js,movies-api.js,google-api.js,search.js,router-view.js,router.js" tab-active="6" start="1")